<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <!--配置activemq的连接工厂-->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.188.128:61616"/>
    </bean>

    <!--配置spring管理的连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
            <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>


    <!--配置springjms的jms模板-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>

    <!--配置队列 导入solr库-->
    <bean id="queueSolrDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="dongyimai_queue_solr"/>
    </bean>

    <!--更新删除solr-->

    <bean id="queueSolrDeleteDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="dongyimai_queue_solr_delete"/>
    </bean>


    <!--配置发布订阅 生成商品详情页-->

    <bean id="topicPageDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="dongyimai_topic_page"/>
    </bean>


    <!--这个是订阅模式  用于删除页面-->
    <bean id="topicPageDeleteDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="dongyimai_topic_page_delete"/>
    </bean>

</beans>