<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 配置 favicon.ico不进行安全拦截-->
    <http pattern="/favicon.ico" security="none"/>
    <!--配置放行资源-->
    <http pattern="/login.html" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/css/**" security="none"/>

    <!--配置拦截规则-->
    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>

        <form-login authentication-failure-url="/login.html" always-use-default-target="true"
                    default-target-url="/admin/index.html" login-page="/login.html"/>

        <csrf disabled="true"/>
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

        <!--配置退出

        logout-url="": 退出路径
            自动生成：
                 /logout

             自定义退出路径：
                 /adminLogout

        logout-success-url="": 退出成功的页面

          默认： 退出后自动跳转到登录页面

          自定义退出页面


        -->
        <logout />

    </http>


    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user  name="admin" password="123456" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>



</beans:beans>