<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">




    <!--dubbo-->
    <dubbo:protocol name="dubbo" port="20888" />
    <dubbo:application name="dongyimai-order-service"/>
    <dubbo:registry address="zookeeper://192.168.188.128:2181"/>
    <dubbo:annotation package="com.offcn.order.service.impl"/>

    <!--配置id生成器IdWorker-->

    <bean id="idWorker" class="com.offcn.utils.IdWorker">
        <!--序列号-->
        <constructor-arg index="0" value="0"/>
        <!--数据中心-->
        <constructor-arg index="1" value="0"/>

    </bean>
</beans>